# IntelliRide Configuration
NEXT_PUBLIC_SUPABASE_URL=https://xadxqyzexeocmedxlvdv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_lYwWe0Vzr2daHgLi7HAJdA_TG58bcpN
NEXT_PUBLIC_MAPS_API_KEY=AIzaSyBIRTzidUjjGlEDyh1SXfRdJnWKFkWIbQI
GOOGLE_MAPS_API_KEY=AIzaSyBIRTzidUjjGlEDyh1SXfRdJnWKFkWIbQI
LLM_PROVIDER=groq
LLM_MODEL=llama-3.3-70b-versatile
LLM_API_KEY=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

